## Minor Project Team D-22
## Miner Selection in blockchain using POAI

#####Akash Aryan - 01FE20BCS283
#####Pallavi Pote - 01FE20BCS287
#####Nitin Kumar - 01FE20BCS301
#####Shourya - 01FE20BCS316

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [ ]:

from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:

path = "/content/drive/MyDrive/data_update_2020-07-27 (1).csv/data_update_2020-07-27.csv"
df = pd.read_csv(path)

<ipython-input-6-dea6bc8d8b71>:2: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

In [ ]:
df.head()

,Unnamed: 0,Hash,Confirmations,Timestamp,Height,Number of Transactions,Difficulty,Merkle root,Version,Bits,Weight,Size,Nonce,Transaction Volume,Block Reward,Fee Reward,Miner Name,URL Miner
0,0,0000000000000000000d70e0c62a0be63983b702dd7e7a...,1,2020-07-27 20:47,641086,"2,832","17,345,948,872,516.06",9e87e13ef8981ef9f91c99700c2a4a77a7aa27c3592e1e...,0x3fffe000,"386,939,413","3,993,220 WU","1,271,956 bytes","394,133,097",14693.55121642 BTC,6.25000000 BTC,1.22415216 BTC,Unknown,/btc/address/3DPNFXGoe8QGiEXEApQ3QtHb8wM15VCQU3
1,1,0000000000000000000e4ef063d951cc2216789f62f613...,2,2020-07-27 20:28,641085,"3,116","17,345,948,872,516.06",e0713b0acfc04c795a74ac891c557e72b34045128b15f2...,0x2000e000,"386,939,413","3,993,586 WU","1,211,803 bytes","3,116,711,184",9918.56089382 BTC,6.25000000 BTC,1.33760500 BTC,BTC.com,/btc/address/bc1qjl8uwezzlech723lpnyuza0h2cdkv...
2,2,00000000000000000002f87be9e2b5fee6d910fb91d393...,3,2020-07-27 19:57,641084,"2,283","17,345,948,872,516.06",7ba8ca78162ab8856e76b1a85b32594094a9298bbbdc37...,0x27ffe000,"386,939,413","3,993,267 WU","1,235,640 bytes","722,009,545",8235.20726577 BTC,6.25000000 BTC,1.06132788 BTC,AntPool,/btc/address/12dRugNcdxK39288NjcDV4GX7rMsKCGn6B
3,3,0000000000000000000f74cc82d0bbc1132f958bc3823f...,4,2020-07-27 19:54,641083,"2,646","17,345,948,872,516.06",f259b7360ac0cc81d4b09f6c452b65c8fb03300878eba3...,0x20c00000,"386,939,413","3,993,034 WU","1,263,334 bytes","3,143,503,684",11958.83642035 BTC,6.25000000 BTC,1.17544375 BTC,Unknown,/btc/address/147SwRQdpCfj5p8PnfsXV2SsVVpVcz3aPq
4,4,0000000000000000000d0ccd476792997b14cf62e4351d...,5,2020-07-27 19:39,641082,"3,203","17,345,948,872,516.06",889a29a6b91ca8141b788e16ca8fe7f7e31c26304e4fa9...,0x20c00000,"386,939,413","3,993,107 WU","1,245,344 bytes","2,434,249,014",10986.11761160 BTC,6.25000000 BTC,1.30389152 BTC,AntPool,/btc/address/12dRugNcdxK39288NjcDV4GX7rMsKCGn6B

In [ ]:
#checking whether there is any null values
df.isnull().sum()

Unnamed: 0                0
Hash                      0
Confirmations             0
Timestamp                 0
Height                    0
Number of Transactions    0
Difficulty                0
Merkle root               0
Version                   0
Bits                      0
Weight                    0
Size                      0
Nonce                     0
Transaction Volume        0
Block Reward              0
Fee Reward                0
Miner Name                0
URL Miner                 0
dtype: int64

In [ ]:
#dropping the columns which are not useful for prediction
df1=df.drop(['Hash','Timestamp','Merkle root','Bits','Nonce','Height','Confirmations','Weight','Size','Difficulty','Version','Block Reward','Fee Reward','URL Miner','Unnamed: 0'],axis=1)

In [ ]:
df1.head()

  Number of Transactions  Transaction Volume Miner Name
0                  2,832  14693.55121642 BTC    Unknown
1                  3,116   9918.56089382 BTC    BTC.com
2                  2,283   8235.20726577 BTC    AntPool
3                  2,646  11958.83642035 BTC    Unknown
4                  3,203  10986.11761160 BTC    AntPool

In [ ]:
print(df1.dtypes)

Number of Transactions    object
Transaction Volume        object
Miner Name                object
dtype: object

In [ ]:
#Removing the string values
df1['Transaction Volume'] = df1['Transaction Volume'].str.replace('BTC','')
df1['Transaction Volume'] = df1['Transaction Volume'].str.replace(',','')
df1['Number of Transactions'] = df1['Number of Transactions'].str.replace(',','')
df1

       Number of Transactions Transaction Volume Miner Name
0                        2832    14693.55121642     Unknown
1                        3116     9918.56089382     BTC.com
2                        2283     8235.20726577     AntPool
3                        2646    11958.83642035     Unknown
4                        3203    10986.11761160     AntPool
...                       ...                ...        ...
641081                    NaN        0.00000000     Unknown
641082                    NaN        0.00000000     Unknown
641083                    NaN        0.00000000     Unknown
641084                    NaN        0.00000000     Unknown
641085                    NaN        0.00000000     Unknown

[641086 rows x 3 columns]

In [ ]:
# Coverting the type to floating values
df1['Transaction Volume'] = df1['Transaction Volume'].astype(float)
df1['Number of Transactions'] = df1['Number of Transactions'].astype(float)
df1.head()

   Number of Transactions  Transaction Volume Miner Name
0                  2832.0        14693.551216    Unknown
1                  3116.0         9918.560894    BTC.com
2                  2283.0         8235.207266    AntPool
3                  2646.0        11958.836420    Unknown
4                  3203.0        10986.117612    AntPool

In [ ]:
#Creating a new dataframe for counting the number of miners
counts=df1['Miner Name'].value_counts()
counts

Unknown              334680
F2Pool                56135
AntPool               49844
BTC.com               29957
SlushPool             29697
                      ...
Tricky's BTC Pool         1
Nexious                   1
RigPool                   1
EkanemBTC                 1
7pool                     1
Name: Miner Name, Length: 73, dtype: int64

In [ ]:
#removing miners having very less values
c=pd.DataFrame(counts)
c=c.drop(c[c['Miner Name']<13597].index)

In [ ]:
c.head(26)

           Miner Name
Unknown        334680
F2Pool          56135
AntPool         49844
BTC.com         29957
SlushPool       29697
GHash.IO        23083
ViaBTC          17988
BTCC Pool       15914
BTC.TOP         15575
Poolin          13597

In [ ]:
#separate dataframe storing values only about particular miner
F2Pool=df1[df1['Miner Name']=='F2Pool']
BTC=df1[df1['Miner Name']=='BTC.com']
SlushPool=df1[df1['Miner Name']=='SlushPool']
GHash=df1[df1['Miner Name']=='GHash.IO']
ViaBTC=df1[df1['Miner Name']=='ViaBTC']
BTCCPool=df1[df1['Miner Name']=='BTCC Pool']
BTC.TOP=df1[df1['Miner Name']=='BTC.TOP']
Poolin=df1[df1['Miner Name']=='Poolin']
AntPool=df1[df1['Miner Name']=='AntPool']

<ipython-input-17-c9879fd3cc67>:8: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  BTC.TOP=df1[df1['Miner Name']=='BTC.TOP']

In [ ]:
serial_number1 = range(1, len(F2Pool) + 1)
F2Pool.insert(0, 'Serial', serial_number1)

serial_number2 = range(1, len(BTC) + 1)
BTC.insert(0, 'Serial', serial_number2)

serial_number3 = range(1, len(SlushPool) + 1)
SlushPool.insert(0, 'Serial', serial_number3)

serial_number4 = range(1, len(GHash) + 1)
GHash.insert(0, 'Serial', serial_number4)

serial_number5 = range(1, len(ViaBTC) + 1)
ViaBTC.insert(0, 'Serial', serial_number5)

serial_number6 = range(1, len(BTCCPool) + 1)
BTCCPool.insert(0, 'Serial', serial_number6)

serial_number7 = range(1, len(BTC.TOP) + 1)
BTC.TOP.insert(0, 'Serial', serial_number7)

serial_number8 = range(1, len(Poolin) + 1)
Poolin.insert(0, 'Serial', serial_number8)

serial_number9 = range(1, len(AntPool) + 1)
AntPool.insert(0, 'Serial', serial_number9)

In [ ]:
#generating a batch of miners
for i in range(2):
    #print(i+1)
    df_concat = pd.concat([F2Pool[F2Pool['Serial']==i], BTC[BTC['Serial']==i], SlushPool[SlushPool['Serial']==i], GHash[GHash['Serial']==i], ViaBTC[ViaBTC['Serial']==i], BTCCPool[BTCCPool['Serial']==i], BTC.TOP[BTC.TOP['Serial']==i], Poolin[Poolin['Serial']==i], AntPool[AntPool['Serial']==i] ])
    #final=pd.concat([final, df_concat])
final=df_concat
for i in range(2, 13598):
    df_concat = pd.concat([F2Pool[F2Pool['Serial']==i], BTC[BTC['Serial']==i], SlushPool[SlushPool['Serial']==i], GHash[GHash['Serial']==i], ViaBTC[ViaBTC['Serial']==i], BTCCPool[BTCCPool['Serial']==i], BTC.TOP[BTC.TOP['Serial']==i], Poolin[Poolin['Serial']==i], AntPool[AntPool['Serial']==i] ])
    final=pd.concat([final,df_concat])

In [ ]:
final.head(30)

        Serial  Number of Transactions  Transaction Volume Miner Name
8            1                  1860.0         2614.792633     F2Pool
1            1                  3116.0         9918.560894    BTC.com
15           1                   728.0         3516.223870  SlushPool
205400       1                   254.0          215.401539   GHash.IO
7            1                  2515.0         6067.502541     ViaBTC
98046        1                  2754.0        27161.024515  BTCC Pool
67           1                  1558.0         1555.471035    BTC.TOP
16           1                  2468.0         6734.429312     Poolin
2            1                  2283.0         8235.207266    AntPool
17           2                  2298.0         8806.582163     F2Pool
5            2                  2467.0         3543.395288    BTC.com
21           2                  2456.0         3618.761765  SlushPool
207991       2                   936.0         9129.795001   GHash.IO
34           2                  2642.0        16315.173458     ViaBTC
98109        2                  1504.0         6158.881989  BTCC Pool
79           2                  2581.0         6550.606648    BTC.TOP
23           2                  2546.0         8670.786664     Poolin
4            2                  3203.0        10986.117612    AntPool
18           3                  2049.0         9216.610150     F2Pool
19           3                  2009.0         6906.091131    BTC.com
36           3                  2205.0         9637.625926  SlushPool
208187       3                  1598.0        21237.455287   GHash.IO
45           3                  2923.0         9184.080743     ViaBTC
98236        3                  1016.0         1796.279258  BTCC Pool
88           3                  2337.0        12617.822573    BTC.TOP
33           3                  2774.0        11450.606520     Poolin
9            3                  2840.0         2672.856131    AntPool
25           4                  2823.0         8020.226419     F2Pool
20           4                  2069.0         4628.853327    BTC.com
43           4                  2649.0         8953.829118  SlushPool

In [ ]:
final.to_csv('mydataa.csv', index=False)

In [ ]:
final.reset_index(drop=True, inplace=True)
final

        Serial  Number of Transactions  Transaction Volume Miner Name
0            1                  1860.0         2614.792633     F2Pool
1            1                  3116.0         9918.560894    BTC.com
2            1                   728.0         3516.223870  SlushPool
3            1                   254.0          215.401539   GHash.IO
4            1                  2515.0         6067.502541     ViaBTC
...        ...                     ...                 ...        ...
122368   13597                  1989.0        19663.215047     ViaBTC
122369   13597                   253.0         3471.623286  BTCC Pool
122370   13597                  2183.0        11959.086185    BTC.TOP
122371   13597                   485.0         2392.245650     Poolin
122372   13597                  1265.0        12908.049170    AntPool

[122373 rows x 4 columns]

In [ ]:
final['Number of Transactions'].describe()

count    122373.000000
mean       1759.049153
std         984.793482
min           1.000000
25%         849.000000
50%        1956.000000
75%        2599.000000
max        4377.000000
Name: Number of Transactions, dtype: float64

In [ ]:
#Scaling the values
scaler = StandardScaler()
final[['Number of Transactions','Transaction Volume']] = scaler.fit_transform(final[['Number of Transactions','Transaction Volume']])
final

        Serial  Number of Transactions  Transaction Volume Miner Name
0            1                0.102510           -0.240211     F2Pool
1            1                1.377910            0.013176    BTC.com
2            1               -1.046974           -0.208938  SlushPool
3            1               -1.528295           -0.323453   GHash.IO
4            1                0.767627           -0.120428     ViaBTC
...        ...                     ...                 ...        ...
122368   13597                0.233503            0.351244     ViaBTC
122369   13597               -1.529311           -0.210486  BTCC Pool
122370   13597                0.430499            0.083967    BTC.TOP
122371   13597               -1.293727           -0.247932     Poolin
122372   13597               -0.501680            0.116889    AntPool

[122373 rows x 4 columns]

In [ ]:
#generating an effective column
final['effective'] = final['Number of Transactions'] - final['Transaction Volume']

In [ ]:
#Counting the number of blocks mined and finding the age of miner
final['output'] = 0
final['block_mined']=0
miners = [0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0]
age = [0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0]
final['age']=0
# iterate over every 9 rows
for i in range(0, len(final), 9):
    # get the effective values for the current 9 rows
    #print(i)
    subset = final.iloc[i:i+9]
    subset_effective = subset['effective']
    effective=subset_effective.tolist()
    total_minedblock = sum(miners)+1
    age_t=sum(age)+1
#     print(total_minedblock)
#For ensuring decentralization
    counter=0
    for j in range(0,8):
         effective[j]+= ((age[j]/age_t )-(miners[j]/total_minedblock))
        #  print(miners[j])
        #  print(counter)

    # find the index of the maximum effective value
    max_element_index = effective.index(max(effective))
    for k in range(0,8):
        if k == max_element_index:
          age[k]=0
        else:
          age[k]+=1.0
       # print(max_index)
    miners[max_element_index]+=1
    # set the corresponding value in the 'output' column to 1
    final.loc[max_element_index+i, 'output'] = 1

    for j in range(0,9):
        final.loc[j+i,'block_mined']=miners[j]
        # final.loc[j+i,'neweffective']=effective[j]
        final.loc[j+i,'age']=age[j]




# print the updated DataFrame
final.head(30)

,Serial,Number of Transactions,Transaction Volume,Miner Name,effective,output,block_mined,age
0,1,0.102510,-0.240211,F2Pool,0.342721,0,0,1
1,1,1.377910,0.013176,BTC.com,1.364734,1,1,0
2,1,-1.046974,-0.208938,SlushPool,-0.838036,0,0,1
3,1,-1.528295,-0.323453,GHash.IO,-1.204843,0,0,1
4,1,0.767627,-0.120428,ViaBTC,0.888054,0,0,1
5,1,1.010318,0.611363,BTCC Pool,0.398956,0,0,1
6,1,-0.204154,-0.276962,BTC.TOP,0.072807,0,0,1
7,1,0.719901,-0.097290,Poolin,0.817191,0,0,1
8,1,0.532044,-0.045224,AntPool,0.577268,0,0,0
9,2,0.547275,-0.025402,F2Pool,0.572677,0,0,2
10,2,0.718885,-0.207996,BTC.com,0.926881,0,1,1
11,2,0.707716,-0.205381,SlushPool,0.913096,0,0,2
12,2,-0.835762,-0.014189,GHash.IO,-0.821573,0,0,2
13,2,0.896588,0.235091,ViaBTC,0.661497,0,0,2
14,2,-0.258989,-0.117257,BTCC Pool,-0.141731,0,0,2
15,2,0.834646,-0.103667,BTC.TOP,0.938314,0,0,2
16,2,0.799106,-0.030113,Poolin,0.829218,0,0,2
17,2,1.466253,0.050212,AntPool,1.416041,1,1,0
18,3,0.294429,-0.011177,F2Pool,0.305606,0,0,3
19,3,0.253811,-0.091335,BTC.com,0.345146,0,1,2
20,3,0.452839,0.003429,SlushPool,0.449409,0,0,3
21,3,-0.163537,0.405858,GHash.IO,-0.569395,0,0,3
22,3,1.181929,-0.012305,ViaBTC,1.194234,0,0,3
23,3,-0.754526,-0.268608,BTCC Pool,-0.485918,0,0,3
24,3,0.586878,0.106820,BTC.TOP,0.480057,0,0,3
25,3,1.030627,0.066327,Poolin,0.964301,0,0,3
26,3,1.097647,-0.238197,AntPool,1.335844,1,2,0
27,4,1.080384,-0.052682,F2Pool,1.133066,1,1,0
28,4,0.314738,-0.170338,BTC.com,0.485076,0,1,3
29,4,0.903697,-0.020293,SlushPool,0.923990,0,0,4

In [ ]:
final[final['Miner Name']=='GHash.IO'].tail(30)
final.tail(30)

,Serial,Number of Transactions,Transaction Volume,Miner Name,effective,output,block_mined,age
122343,13594,0.237564,0.454309,BTC.TOP,-0.216744,0,988,32
122344,13594,-1.407457,-0.273933,Poolin,-1.133524,0,2340,1
122345,13594,-0.722032,-0.256692,AntPool,-0.465340,0,2621,0
122346,13595,0.985948,-0.044304,F2Pool,1.030252,1,2501,0
122347,13595,-0.299606,-0.030750,BTC.com,-0.268856,0,2491,3
122348,13595,0.018228,0.222507,SlushPool,-0.204279,0,1216,19
122349,13595,-1.181013,1.142527,GHash.IO,-2.323540,0,20,64
122350,13595,-1.694828,-0.297300,ViaBTC,-1.397528,0,1242,11
122351,13595,-1.120086,-0.111804,BTCC Pool,-1.008282,0,176,62
122352,13595,0.318800,0.330385,BTC.TOP,-0.011585,0,988,33
122353,13595,-1.557743,-0.318500,Poolin,-1.239244,0,2340,2
122354,13595,1.273319,1.095692,AntPool,0.177626,0,2621,0
122355,13596,-0.071131,0.029477,F2Pool,-0.100608,0,2501,1
122356,13596,1.316983,0.075323,BTC.com,1.241660,1,2492,0
122357,13596,0.157344,0.553259,SlushPool,-0.395915,0,1216,20
122358,13596,-1.012449,0.646534,GHash.IO,-1.658983,0,20,65
122359,13596,-0.093471,-0.135886,ViaBTC,0.042415,0,1242,12
122360,13596,-0.899735,0.055213,BTCC Pool,-0.954947,0,176,63
122361,13596,0.620387,0.509442,BTC.TOP,0.110945,0,988,34
122362,13596,0.493457,0.110321,Poolin,0.383136,0,2340,3
122363,13596,1.240824,0.693456,AntPool,0.547368,0,2621,0
122364,13597,0.708731,0.501176,F2Pool,0.207555,0,2501,2
122365,13597,1.198176,-0.091486,BTC.com,1.289662,1,2493,0
122366,13597,0.009089,0.187209,SlushPool,-0.178120,0,1216,21
122367,13597,-1.295758,0.385165,GHash.IO,-1.680924,0,20,66
122368,13597,0.233503,0.351244,ViaBTC,-0.117741,0,1242,13
122369,13597,-1.529311,-0.210486,BTCC Pool,-1.318825,0,176,64
122370,13597,0.430499,0.083967,BTC.TOP,0.346532,0,988,35
122371,13597,-1.293727,-0.247932,Poolin,-1.045795,0,2340,4
122372,13597,-0.501680,0.116889,AntPool,-0.618569,0,2621,0

In [ ]:
count=final[final['output']==1].count()

In [ ]:
count

Serial                    13597
Number of Transactions    13597
Transaction Volume        13597
Miner Name                13597
effective                 13597
output                    13597
block_mined               13597
age                       13597
dtype: int64

In [ ]:
final.shape
final.tail(30)

,Serial,Number of Transactions,Transaction Volume,Miner Name,effective,output,block_mined,age
122343,13594,0.237564,0.454309,BTC.TOP,-0.216744,0,988,32
122344,13594,-1.407457,-0.273933,Poolin,-1.133524,0,2340,1
122345,13594,-0.722032,-0.256692,AntPool,-0.465340,0,2621,0
122346,13595,0.985948,-0.044304,F2Pool,1.030252,1,2501,0
122347,13595,-0.299606,-0.030750,BTC.com,-0.268856,0,2491,3
122348,13595,0.018228,0.222507,SlushPool,-0.204279,0,1216,19
122349,13595,-1.181013,1.142527,GHash.IO,-2.323540,0,20,64
122350,13595,-1.694828,-0.297300,ViaBTC,-1.397528,0,1242,11
122351,13595,-1.120086,-0.111804,BTCC Pool,-1.008282,0,176,62
122352,13595,0.318800,0.330385,BTC.TOP,-0.011585,0,988,33
122353,13595,-1.557743,-0.318500,Poolin,-1.239244,0,2340,2
122354,13595,1.273319,1.095692,AntPool,0.177626,0,2621,0
122355,13596,-0.071131,0.029477,F2Pool,-0.100608,0,2501,1
122356,13596,1.316983,0.075323,BTC.com,1.241660,1,2492,0
122357,13596,0.157344,0.553259,SlushPool,-0.395915,0,1216,20
122358,13596,-1.012449,0.646534,GHash.IO,-1.658983,0,20,65
122359,13596,-0.093471,-0.135886,ViaBTC,0.042415,0,1242,12
122360,13596,-0.899735,0.055213,BTCC Pool,-0.954947,0,176,63
122361,13596,0.620387,0.509442,BTC.TOP,0.110945,0,988,34
122362,13596,0.493457,0.110321,Poolin,0.383136,0,2340,3
122363,13596,1.240824,0.693456,AntPool,0.547368,0,2621,0
122364,13597,0.708731,0.501176,F2Pool,0.207555,0,2501,2
122365,13597,1.198176,-0.091486,BTC.com,1.289662,1,2493,0
122366,13597,0.009089,0.187209,SlushPool,-0.178120,0,1216,21
122367,13597,-1.295758,0.385165,GHash.IO,-1.680924,0,20,66
122368,13597,0.233503,0.351244,ViaBTC,-0.117741,0,1242,13
122369,13597,-1.529311,-0.210486,BTCC Pool,-1.318825,0,176,64
122370,13597,0.430499,0.083967,BTC.TOP,0.346532,0,988,35
122371,13597,-1.293727,-0.247932,Poolin,-1.045795,0,2340,4
122372,13597,-0.501680,0.116889,AntPool,-0.618569,0,2621,0

In [ ]:
counts=final[final['Miner Name']=='AntPool']
counts

,Serial,Number of Transactions,Transaction Volume,Miner Name,effective,output,block_mined,age
8,1,0.532044,-0.045224,AntPool,0.577268,0,0,0
17,2,1.466253,0.050212,AntPool,1.416041,1,1,0
26,3,1.097647,-0.238197,AntPool,1.335844,1,2,0
35,4,0.494472,-0.081205,AntPool,0.575677,0,2,0
44,5,-1.785203,-0.330925,AntPool,-1.454278,0,2,0
...,...,...,...,...,...,...,...,...
122336,13593,0.108603,0.160537,AntPool,-0.051934,0,2621,0
122345,13594,-0.722032,-0.256692,AntPool,-0.465340,0,2621,0
122354,13595,1.273319,1.095692,AntPool,0.177626,0,2621,0
122363,13596,1.240824,0.693456,AntPool,0.547368,0,2621,0
122372,13597,-0.501680,0.116889,AntPool,-0.618569,0,2621,0

In [ ]:
final.to_csv('output.csv', index=False)

In [ ]:
couts=final[final['Miner Name']=='Poolin']

In [ ]:
counts=couts[couts['output']==1]

In [ ]:
counts

,Serial,Number of Transactions,Transaction Volume,Miner Name,effective,output,block_mined,age
133,15,1.244886,0.190034,Poolin,1.054852,1,1,0
151,17,0.991025,0.078628,Poolin,0.912397,1,2,0
205,23,0.737164,-0.196674,Poolin,0.933838,1,3,0
259,29,0.959546,-0.155301,Poolin,1.114847,1,4,0
268,30,1.015396,-0.112002,Poolin,1.127397,1,5,0
...,...,...,...,...,...,...,...,...
122155,13573,1.230670,-0.175017,Poolin,1.405687,1,2336,0
122191,13577,1.112878,0.194439,Poolin,0.918439,1,2337,0
122218,13580,0.607186,-0.062246,Poolin,0.669433,1,2338,0
122308,13590,1.110847,0.203371,Poolin,0.907476,1,2339,0
122335,13593,1.465238,0.199007,Poolin,1.266231,1,2340,0

In [ ]:
final.tail()

,Serial,Number of Transactions,Transaction Volume,Miner Name,effective,output,block_mined,age
122368,13597,0.233503,0.351244,ViaBTC,-0.117741,0,1242,13
122369,13597,-1.529311,-0.210486,BTCC Pool,-1.318825,0,176,64
122370,13597,0.430499,0.083967,BTC.TOP,0.346532,0,988,35
122371,13597,-1.293727,-0.247932,Poolin,-1.045795,0,2340,4
122372,13597,-0.501680,0.116889,AntPool,-0.618569,0,2621,0

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
import tensorflow as tf
from tensorflow.keras import layers

# Split the dataset into training and test sets
X = final[['Number of Transactions', 'Transaction Volume', 'effective', 'block_mined', 'age']]
y = final['output']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Standardize the input features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
import tensorflow as tf
from tensorflow.keras import layers

# Define the model architecture
model = tf.keras.Sequential([
  layers.Dense(64, activation='relu', input_shape=(5,)),
  layers.Dense(32, activation='relu'),
  layers.Dense(1, activation='sigmoid')
])

# Compile the model
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=10, validation_data=(X_test, y_test))

Epoch 1/10
3060/3060 [==============================] - 10s 3ms/step - loss: 0.1794 - accuracy: 0.9228 - val_loss: 0.1617 - val_accuracy: 0.9306
Epoch 2/10
3060/3060 [==============================] - 7s 2ms/step - loss: 0.1513 - accuracy: 0.9338 - val_loss: 0.1390 - val_accuracy: 0.9398
Epoch 3/10
3060/3060 [==============================] - 9s 3ms/step - loss: 0.1330 - accuracy: 0.9410 - val_loss: 0.1229 - val_accuracy: 0.9482
Epoch 4/10
3060/3060 [==============================] - 8s 2ms/step - loss: 0.1205 - accuracy: 0.9464 - val_loss: 0.1240 - val_accuracy: 0.9451
Epoch 5/10
3060/3060 [==============================] - 9s 3ms/step - loss: 0.1117 - accuracy: 0.9504 - val_loss: 0.1384 - val_accuracy: 0.9368
Epoch 6/10
3060/3060 [==============================] - 9s 3ms/step - loss: 0.1063 - accuracy: 0.9523 - val_loss: 0.1571 - val_accuracy: 0.9291
Epoch 7/10
3060/3060 [==============================] - 8s 3ms/step - loss: 0.1040 - accuracy: 0.9529 - val_loss: 0.0957 - val_accuracy: 0.9584
Epoch 8/10
3060/3060 [==============================] - 8s 3ms/step - loss: 0.0994 - accuracy: 0.9556 - val_loss: 0.0968 - val_accuracy: 0.9573
Epoch 9/10
3060/3060 [==============================] - 7s 2ms/step - loss: 0.0978 - accuracy: 0.9561 - val_loss: 0.0890 - val_accuracy: 0.9612
Epoch 10/10
3060/3060 [==============================] - 9s 3ms/step - loss: 0.0982 - accuracy: 0.9559 - val_loss: 0.1308 - val_accuracy: 0.9403

In [ ]:
y_pred

NameError: ignored

In [ ]:
predicted_output = model.predict(X_test)

765/765 [==============================] - 2s 2ms/step

In [ ]:
predicted_output
# Convert array to DataFrame
df = pd.DataFrame(predicted_output)

# Display the DataFrame
print(df)

                  0
0      6.500715e-11
1      2.309255e-01
2      1.430227e-13
3      4.745864e-07
4      1.499639e-04
...             ...
24470  8.834804e-01
24471  6.131901e-07
24472  0.000000e+00
24473  7.959521e-01
24474  9.883215e-08

[24475 rows x 1 columns]

In [ ]:
threshold = 0.5
predicted_op = (predicted_output > threshold).astype(int)

# Print or use the predicted classes as needed
#print(predicted_op)
df = pd.DataFrame(predicted_op)
df

       0
0      0
1      0
2      0
3      0
4      0
...   ..
24470  1
24471  0
24472  0
24473  1
24474  0

[24475 rows x 1 columns]

In [ ]:
df.head(40)

    0
0   0
1   0
2   0
3   0
4   0
5   1
6   0
7   0
8   0
9   0
10  0
11  0
12  0
13  0
14  1
15  0
16  0
17  0
18  0
19  0
20  0
21  0
22  0
23  0
24  0
25  0
26  0
27  0
28  0
29  1
30  0
31  0
32  0
33  0
34  0
35  0
36  0
37  0
38  0
39  0

In [ ]:
ct = df.count(1)
ct

0        1
1        1
2        1
3        1
4        1
        ..
24470    1
24471    1
24472    1
24473    1
24474    1
Length: 24475, dtype: int64

In [ ]:
X_test

array([[-1.69833741, -0.31174808, -1.03322852, -0.12798885, -0.30893798],
       [ 0.69055847, -0.21873688,  0.68674142, -0.73933418, -0.32807236],
       [-1.20877627, -0.29354238, -0.68009167,  2.30859613, -0.28214984],
       ...,
       [-1.34894108, -0.21015212, -0.84957254, -1.08239127,  1.76140197],
       [ 0.89064881, -0.03672045,  0.69635216,  0.49948309, -0.33572611],
       [-0.37286585,  0.00408269, -0.2828118 ,  0.26491414, -0.28597672]])

In [ ]:
# Evaluate the model on the test set
loss, accuracy = model.evaluate(X_test, y_test)

# Print the accuracy
print("Test set accuracy: {:.2f}%".format(accuracy*100))

765/765 [==============================] - 1s 2ms/step - loss: 0.1308 - accuracy: 0.9403
Test set accuracy: 94.03%

In [ ]:
import time

# record start time
start_time = time.time()

# Make predictions
model.predict(X_test)

end_time = time.time()

# calculate elapsed time
elapsed_time = end_time - start_time

print("Processing time: ", elapsed_time, " seconds")

# Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test)
print('Test loss:', loss)
print('Test accuracy:', accuracy)

765/765 [==============================] - 1s 1ms/step
Processing time:  1.5502750873565674  seconds
765/765 [==============================] - 1s 2ms/step - loss: 0.1308 - accuracy: 0.9403
Test loss: 0.13079142570495605
Test accuracy: 0.9402655959129333